@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=League+Spartan:wght@900&family=Major+Mono+Display&family=Montserrat&family=Montserrat+Alternates:wght@800&family=Passions+Conflict&display=swap");
* {
	box-sizing: border-box;
}

body {
	background-image: url("./public/images/nathan-da-silva-FO7kUmBYVi0-unsplash.jpg");
	background-size: 100%;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
}

:root {
	--background: rgba(17, 18, 17, 0.9);
	--primary: #b5e62e;
	--accent-color: wheat;
	--warm-color: #fca16f;
}

.main-container {
	background-color: var(--background);
}

.nav ul {
	list-style-type: none;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

.nav a {
	font-family: "Major Mono Display", monospace;
	text-decoration: none;
	font-family: "", sans-serif;
	color: white;
	font-size: 20px;
}

.nav a:hover {
	color: var(--primary);
	text-shadow: 1px 0 10px #b5e62e;
}
.header h1 {
	font-family: "Passions Conflict", sans-serif;
	font-size: 100px;
	color: var(--primary);
	text-align: center;
}
.footer p {
	text-align: center;
}

.main-content {
	border-top: 10px solid wheat;
	border-bottom: 10px solid wheat;
}

.main-content p {
	font-family: "Fira Mono", monospace;
	font-size: 20px;
	font-weight: bolder;
	line-height: 2rem;
	text-align: justify;
	width: 45%;
	color: white;
	margin-right: auto;
	margin-left: auto;
}
.main-content a {
	text-decoration: none;
}

.main-content h2 {
	font-family: "Fira Mono", monospace;
	padding-top: 80px;
	text-align: center;
}

#landing-top {
	display: flex;
	flex-direction: row;
	padding: 50px;
}
#landing-pic img {
	height: 50%;
	width: 100%;
	margin-right: 100px;
	border-radius: 100px / 50px;
	opacity: 0.5;
}
.intro-large {
	font-size: 30px;
	color: var(--primary);
}
#bucket-list-container {
	color: white;
	border-top: 10px solid wheat;
	border-bottom: 5px solid wheat;
	text-align: center;
}
#bucket-list-container h2 {
	font-family: "League Spartan", sans-serif;
}
#bucket-list {
	font-family: "Fira Mono", monospace;
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 50px 180px 50px 180px;
	gap: 30px;
	font-size: larger;
}

#bucket-list ul {
	list-style-type: none;
}

.about-container {
	display: flex;
	flex-direction: column;
	gap: 60px;
	border-top: 10px solid white;
	border-bottom: 10px solid white;
	padding: 50px;
}
.about-container h1 {
	font-family: "League Spartan", sans-serif;
}
#about-content {
	display: flex;
	flex-direction: row;
	gap: 100px;
}

#about-content p {
	height: auto;
	max-height: 400px;
	width: auto;
	max-width: 800px;
	font-family: "Fira Mono", sans-serif;
	font-size: 20px;
	font-weight: bolder;
	line-height: 2rem;
	text-align: justify;
}

#about-content img {
	width: auto;
	max-width: 400px;
	height: auto;
	max-height: 500px;
	box-shadow: 5px 5px 50px 2px #f1f1f1;
	border-radius: 10px;
}

.resume-container {
	border-top: 10px solid wheat;
	border-bottom: 10px solid wheat;
	max-width: 100%;
}

#resume-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px;
}
#vertical-line {
	width: 5px;
	height: auto;
	max-height: 1300px;
	background: wheat;
	border-radius: 10px;
}
#resume-right {
	width: auto;
	max-width: 600px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}
#resume-right hr {
	width: 300px;
}
#resume-right h1 {
	font-family: "Major Mono Display", monospace;
	text-align: center;
}
#resume-right h2 {
	font-family: "Fira Mono", monospace;
}

#resume-right h2:nth-child(3) {
	font-family: "Fira Mono", monospace;
	text-align: center;
}
#resume-right h3 {
	font-family: "Fira Mono", monospace;
}

#resume-right li {
	font-family: "Fira Mono", monospace;
	font-size: 20px;
}
#resume-left {
	display: flex;
	flex-direction: column;
	width: 340px;
	margin: 100px 30px 100px 30px;
	font-family: "Fira Mono", monospace;
}
#resume-left h2 {
	color: var(--primary);
	text-align: center;
}
#resume-left li {
	list-style-type: none;
	height: 2rem;
}
#resume-left hr {
	width: 50px;
}
#web-icons {
	display: flex;
	flex-direction: row;
	font-size: 30px;
	gap: 20px;
}
#skills {
	text-align: center;
}
#resume-right h2:nth-child(5),
#resume-right h2:nth-child(12),
#resume-right h2:nth-child(15) {
	font-family: "Fira Mono", monospace;
	color: var(--primary);
}

#projects-content {
	border-top: 10px solid wheat;
	border-bottom: 10px solid wheat;
	max-width: 100%;
	text-align: center;
	padding-bottom: 50px;
}
#card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	box-shadow: 2px 2px 10px 1px #f1f1f1;
	transition: 0.3s;
	border-radius: 10px;
	font-family: "Fira Mono", monospace;
	margin: 10px;
	padding: 10px;
	width: 30%;
}
.card-title {
	text-align: center;
	font-size: 2em;
	color: var(--primary);
	font-weight: 400;
}

.card-content {
	padding: 2px 16px;
	color: white;
	text-align: center;
}
.card-content p {
	text-align: justify;
}
.card-content button {
	background-color: var(--primary);
	border-radius: 6px;
	border: transparent;
	width: 100px;
	height: 30px;
	cursor: pointer;
	margin-top: 50px;
}
.card-content button:hover {
	box-shadow: 5px 5px 50px 2px #f1f1f1;
}
.card-content:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.diagrams img {
	width: 95%;
}
.white-text {
	color: white;
}
.footer p {
	color: white;
}
